<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reterving_stu</title>
</head>
<body>
    <center>
        <h1><u>RETERVING_STU</u></h1>
        <form method="POST">
            {% csrf_token %}
            <label for="sun">Subject_Name</label>
            <select name="sun" id="sun" multiple>
                {% for i in datas %}
                    <option value="{{i.pk}}">{{i.Subject_Name}}</option>
                {% endfor %}
            </select>
            <br> <br>
            <input type="submit" value="reterving_stu">
        </form>
    </center>
</body>
</html>